<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="main-settings">
    <label>
      Кол-во рядов:
      <input type="length" formControlName="rows">
    </label>
    <label>
      Кол-во цифр:
      <input type="length" formControlName="digits">
    </label>
    <label>

      Чередование
      <select formControlName="alternation">
        <option value="no">Нет</option>
        <option value="on">Обычное</option>
        <option value="double">Двойное</option>
        <option value="multiple">Множественное</option>
      </select>
    </label>
<!--    <label>-->
<!--      <input type="checkbox" formControlName="isAllDischarge">-->
<!--      Is all discharge-->
<!--    </label>-->
  </div>

  <div class="wrapper">
    <div class="modes">
      <div class="mode-wrapper">
        <label>
          <input type="checkbox" formControlName="isSimpleMode">
          Простой счет
        </label>
        <div *ngIf="myForm.get('isSimpleMode')?.value">
          <div class="number-select-group">
            <div class="select select--multiple">
              <select multiple id="positiveSimplePossibleDigits" formControlName="positiveSimplePossibleDigits">
                <option *ngFor="let item of ['-', 1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="item">{{item}}</option>
              </select>
            </div>

            <div class="select">
              <select multiple formControlName="negativeSimplePossibleDigits">
                <option *ngFor="let item of ['-', -1, -2, -3, -4, -5, -6, -7, -8, -9]" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="mode-wrapper">
        <label>
          <input type="checkbox" formControlName="isBrothersMode">
          Братья
        </label>
        <div *ngIf="myForm.get('isBrothersMode')?.value">
          <div class="number-select-group">
            <div class="select select--multiple">
              <select multiple id="positiveBrothersPossibleDigits" formControlName="positiveBrothersPossibleDigits">
                <option *ngFor="let item of ['-', 1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="item">{{item}}</option>
              </select>
              <select multiple id="positiveBrothersPossibleDigitsStrengthened" formControlName="positiveBrothersPossibleDigitsStrengthened">
                <option *ngFor="let item of ['-', 1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="item">{{item}}</option>
              </select>
            </div>

            <div class="select">
              <select multiple formControlName="negativeBrothersPossibleDigits">
                <option *ngFor="let item of ['-', -1, -2, -3, -4, -5, -6, -7, -8, -9]" [value]="item">{{item}}</option>
              </select>
              <select multiple formControlName="negativeBrothersPossibleDigitsStrengthened">
                <option *ngFor="let item of ['-', -1, -2, -3, -4, -5, -6, -7, -8, -9]" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table *ngFor="let mode of tableKeys">

      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of getTableItemsKeysByMode(mode)">
        <td>{{item}}</td>
        <td>{{getTableItemsByNumber(mode, item)}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <button type="submit">Сгенерировать пример</button>
</form>

<button class="toggle-tests-button" (click)="toggleTests()">Показать тесты</button>

<div class="tests" *ngIf="isTestsShown">
  <label>
    Ряды:
    <input type="length" [(ngModel)]="testsRows">
  </label>
  <label>
    Цифры:
    <input type="length" [(ngModel)]="testsColumns">
  </label>
  <div class="test-group">
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1], possibleModes: ['simple', 'brothers']})">+1
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [-1], possibleModes: ['simple', 'brothers']})">-1
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1, -1], possibleModes: ['simple', 'brothers']})">+1, -1
    </button>
  </div>
  <div class="test-group">
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [2], possibleModes: ['simple', 'brothers']})">+2
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [-2], possibleModes: ['simple', 'brothers']})">-2
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [2, -2], possibleModes: ['simple', 'brothers']})">+2, -2
    </button>
  </div>
  <div class="test-group">
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [3], possibleModes: ['simple', 'brothers']})">+3
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [-3], possibleModes: ['simple', 'brothers']})">-3
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [3, -3], possibleModes: ['simple', 'brothers']})">+3, -3
    </button>
  </div>
  <div class="test-group">
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [4], possibleModes: ['simple', 'brothers']})">+4
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [-4], possibleModes: ['simple', 'brothers']})">-4
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [4, -4], possibleModes: ['simple', 'brothers']})">+4, -4
    </button>
  </div>
  <div class="test-group">
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1, 2], possibleModes: ['simple', 'brothers']})">1, 2
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1, 2, 3], possibleModes: ['simple', 'brothers']})">1, 2, 3
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1, 2, 3, 4], possibleModes: ['simple', 'brothers']})">1, 2, 3,
      4
    </button>
  </div>
  <div class="test-group">
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [-1, -2], possibleModes: ['simple', 'brothers']})">-1, -2
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [-1, -2, -3], possibleModes: ['simple', 'brothers']})">-1, -2,
      -3
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [-1, -2, -3, -4], possibleModes: ['simple', 'brothers']})">-1,
      -2, -3, -4
    </button>
  </div>
  <div class="test-group">
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1, 2, -1], possibleModes: ['simple', 'brothers']})">1, 2, -1
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1, -2, -1], possibleModes: ['simple', 'brothers']})">1, -2, -1
    </button>
    <button class="test-button"
            (click)="generateExample({possibleBrothers: [1, 2, -3, -4], possibleModes: ['simple', 'brothers']})">1, 2,
      -3, -4
    </button>
  </div>
</div>

<div class="examples">
  <div class="example-wrapper" *ngFor="let example of currentRows; index as j">
    <h2>Пример</h2>
    <div>
      <p>Использованные формулы</p>
      <span *ngFor="let formula of usedFormulas[j]">{{formula}} | </span>
    </div>
    <p class="example">
      <span *ngFor="let i of example; index as k">{{i}}({{currentAnswers[j][k]}})</span>
    </p>

    <h2>Ответ</h2>
    <p>{{answers[j]}}</p>
  </div>
</div>
