.examples {
  display: flex;
  flex-wrap: wrap;
}

.example-wrapper {
  border: 2px solid black;
  padding: 5px;
}

.example {
  display: flex;
  flex-direction: column;
}

.select:not(.select--multiple)::after {}

select[multiple] {
  padding-right: 0;
  height: 6rem;

}

select[multiple] option {
  white-space: normal;
}
